@import 'utilities/_variables.scss';

header {
  height: $fh-height;
  // background-color: rgba(11, 10, 7, 0.55);
  background-color: $background-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
  padding: 0 80px;
  nav {
    height: 100%;
    ul {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        height: 100%;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-size: 1.6rem;
        li {
          display: flex;
          align-items: center;
          height: 100%;
          text-transform: uppercase;
          margin: 0 $margin-list;
        }
      }

      a:hover,
      a:focus {
        // background-color: $secondary;
        color: $lightblue;
        // font-weight: 700;
      }
    }
  }
}
