@import 'utilities/_variables.scss';

header {
  height: $fh-height;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // padding: 15px 0;
  nav {
    height: 100%;
    ul {
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      a {
        height: 100%;
        font-size: 1.6rem;
        li {
          display: flex;
          align-items: center;
          height: 100%;
          text-transform: uppercase;
          margin: 0 $margin-list;
        }
      }

      a:hover,
      a:focus {
        // background-color: $secondary;
        color: $secondary;
        // font-weight: 700;
      }
    }
  }
}
