.hero {
  background-color: #ffffff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/banner.jpeg');
  background-blend-mode: luminosity;
  // background-size: cover;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .name {
    color: $boldblue;
    font-weight: 500;
  }

  p {
    color: #ffffff;
    font-size: 3.2rem;
    font-weight: 500;
    margin: 1rem 0;
    span {
      color: $yellow;
    }
  }
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.button-container:hover,
.button-container:focus {
  background-color: transparent;
}

.wrapper {
  margin: 0 auto;
  // max-width: 1280px;
  h2 {
    font-size: 3.6rem;
    text-align: center;
    text-transform: uppercase;
  }
}

main {
  position: relative;
  .modal-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@media (max-width: 600px) {
  .hero {
    background-size: cover;
    h1 {
      font-size: 2.4rem;
    }
    p {
      font-size: 2rem;
    }
  }
  .button-link {
    a,
    i {
      font-size: 2rem;
    }
  }
}
