.image-article-container {
  display: flex;
  // justify-content: center;
}

article {
  h3 {
    margin-top: 0;
  }
  .learning {
    color: $lightred;
  }

  .challenge {
    color: $red;
  }

  .adaptable {
    color: $yellow;
  }
}

.quote {
  color: $lightblue;
  margin-bottom: 1.5rem;
}

.desc {
  margin-bottom: 2rem;
}

picture {
  margin-right: 4rem;
  img {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .portrait {
    display: none;
  }
}
