.image-article-container {
  display: flex;
  background-image: linear-gradient(to right, rgba(11, 10, 7, 1) 40%, rgba(11, 10, 7, 0.4)),
    url('../../assets/profile.JPG');
  background-position-x: 125%;
  background-repeat: no-repeat;
  padding: 50px;
  picture {
    margin-right: 4rem;
    img {
      max-width: 100%;
    }
  }
}

article {
  max-width: 60%;
  h3 {
    margin-top: 0;
  }
  .learning {
    color: $lightred;
  }

  .challenge {
    color: $red;
  }

  .adaptable {
    color: $yellow;
  }
}

.quote {
  color: $lightblue;
  margin-bottom: 1.5rem;
}

.desc {
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  .portrait {
    display: none;
  }
}
