@import "../utilities/_variables.scss";

.typewriter {
  margin-top: $margin-list;

  .name {
    color: #ffffff;
  }

  .span {
    color: $complement;
  }

  .animated-text {
    display: flex;
    p {
      margin-right: 5px;
    }
  }

  .name,
  .span,
  .passionate,
  .motivated,
  .reliable,
  a {
    font-weight: 700;
  }

  a {
    color: #ffffff;
  }

  a:hover,
  a:focus {
    color: $complement;
  }

  .passionate {
    color: #e0ccf4;
  }

  .motivated {
    color: #ffffff;
  }

  .reliable {
    color: $accent;
  }
}
