@import '../utilities/_variables.scss';

.typewriter {
  margin-top: 2 * $margin-list;

  .name {
    color: #ffffff;
  }

  .span {
    color: $link;
  }

  .animated-text {
    display: flex;
    p {
      margin-right: 5px;
    }
  }

  .name,
  .span,
  .passionate,
  .motivated,
  .reliable,
  a {
    font-weight: 700;
  }

  a {
    color: $secondary;
  }

  a:hover,
  a:focus {
    color: $secondary;
  }

  .passionate {
    color: $red;
  }

  .motivated {
    color: $yellow;
  }

  .reliable {
    // color: #6e44ff;
    color: $pink;
  }
}
