//colors
$background-color: #211a28;
$color: #ccccf4;
$complement: #ccf4cc;
$link: #cce0f4;
$accent: #f4cccc;
$yellow: #f4f4cc;

//spacing
$margin-list: 1rem;
$margin-article: 2rem;

//height
$fh-height: 10vh;
$feature-height: 15rem;
