$font-family: 'Poppins', sans-serif;
//colors
// $background-color: #211a28;
// $color: #ccccf4;
// $complement: #ccf4cc;
// $accent: #f4cccc;
// $yellow: #f4f4cc;

$background-color: #0b0a07;
$link: #cce0f4;
$color: #ffffff;
$secondary: #adefd1;
$orange: #ffd6a5;
$pink: #e6bccd;
$lightred: #ffadad;
$red: #e54b4b;
$yellow: #f6ae2d;
$lightpurple: #bdb2ff;
$lightblue: #9bf6ff;
$boldblue: #2ec0f9;
$blue: #0075f2;
$turq: #048ba8;
$teal: #0892a5;

//spacing
$margin-list: 1rem;
$margin-article: 2rem;
$nav-top-margin: 1rem;
//height
// $fh-height: 10vh;
$fh-height: 77px;
$feature-height: 15rem;
$li-height: 45px;
